* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron';
}

body {
    background: rgb(189, 184, 184);
    background-image: url('../assets/fondopage.png');
    color: #00F2FF;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: rgba(10, 10, 10, 0.85);
    border-radius: 18px;
    margin-bottom: 62px;
    box-shadow: 0px 4px 4px 0px rgba(136, 204, 238, 0.5);
    padding: 20px;
}

.logo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.header-text h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #00F2FF;
}

.sub {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
    color: #00F2FF;
    width: 500px;
}

label {
    font-size: 13px;
    color: #00F2FF;
    margin: 8px 0 4px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    background: #0D0D0D;
    border: 1px solid #00eaff80;
    border-radius: 6px;
    color: #d5ffff;
    margin-bottom: 10px;
    outline: none;
    font-size: 13px;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #00eaff;
    box-shadow: 0 0 6px #00eaff;
}

.nivel-fuerza {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.nivel-fuerza button {
    flex: 1;
    margin: 0 3px;
    padding: 8px;
    background: none;
    border: 1px solid #111;
    color: rgba(0, 242, 255, 0.7);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 400;
}

.nivel-fuerza button:hover {
    background: #111;
}

.fuerzatext {
    color: rgba(0, 242, 255, 0.7);
    margin-top: 1px;
    margin-bottom: 25px;
    font-size: 15px;
}

.sables {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.sables .box {
    width: calc(50% - 15px);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid #00F2FF;
    border-radius: 10px;
    color: #00F2FF;
    font-size: 1rem;
    cursor: pointer;
}

.sables .box:last-child {
    width: 100%;
}

.sables .box input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 4px solid #00F2FF;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.sables .box input[type="checkbox"]:checked {
    background-color: #00F2FF;
    border: 1px solid rgba(0, 242, 255, 0.7);
}

.sables .box label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #00F2FF;
    cursor: pointer;
}

textarea {
  display: flex; 
  flex-direction: row;
  width: 296px;          
  height: 36px;        
  border-radius: 6px;
  border: 1px solid #0D0D0D;
  padding: 8px 12px;
  gap: 4px;
  background-color: #0D0D0D; 
}


.enviar {
    width: 100%;
  padding: 12px;
  background: #000;
  color: #00F2FF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1px;
  transition: 0.3s;
  margin-bottom: 30px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
}

.enviar:hover {
    background: #00bcd4;
    box-shadow: 0 0 10px #00F2FF;
}

#nota {
    color: rgba(0, 242, 255, 0.7);
}
input{
    background-color: #0D0D0D;
}
input::placeholder,
textarea::placeholder {
    color: rgba(0, 242, 255, 0.7);

}

.Especie {
    color: rgba(0, 242, 255, 0.7);
}

.especietext {
    color: #00F2FF;
    margin-top: 1px;
    margin-bottom: 20px;
}