

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background: gray;
    background-image: url('../assets/fondopage.png');
    color: #d5ffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 350px;
    background: #111;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #00eaff;
    box-shadow: 0 0 20px #00eaff80;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}
.header-text h1 {
    margin: 0;
    font-size: 24px;
    color: #00eaff;
}

.sub {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
    color: #a0eaff;
}

label {
    font-size: 13px;
    color: #8be9ff;
    margin: 8px 0 4px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    background: #1b1b1b;
    border: 1px solid #00eaff80;
    border-radius: 6px;
    color: #d5ffff;
    margin-bottom: 10px;
    outline: none;
    font-size: 13px;
}

input:focus, select:focus, textarea:focus {
    border-color: #00eaff;
    box-shadow: 0 0 6px #00eaff;
}

.nivel-fuerza {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.nivel-fuerza button {
    flex: 1;
    margin: 0 3px;
    padding: 8px;
    background: #111;
    border: 1px solid #00eaff;
    color: #9bfaff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.nivel-fuerza button:hover {
    background: #00eaff30;
}

.sables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    margin-bottom: 15px;
}

.sables label {
    display: flex;
    align-items: center;
    gap: 6px;
}

textarea {
    height: 70px;
}

.enviar {
    width: 100%;
    padding: 12px;
    background: #00eaff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.enviar:hover {
    background: #00bcd4;
    box-shadow: 0 0 10px #00eaff;
}

.nota {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
    opacity: 0.7;
}
